@import "tailwindcss";


:root {
  --primary: #0b0d17;
  --secondary: #d0d6f9;
  --foreground: #171717;
  --accent: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --font-bellefair: var(--font-bellefair);
  --font-barlow: var(--font-barlow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  @apply text-[5rem] md:text-[9.375rem];
 text-transform: uppercase;
 color: var(--accent);
 font-family: var(--font-bellefair);
}

h2 {
  font-size: 6.25rem;
  text-transform: uppercase;
  color: var(--accent);
  font-family: var(--font-bellefair);
}

h3 {
  @apply text-[1.5rem] md:text-[3.5rem];
 text-transform: uppercase;
 color: var(--accent);
 font-family: var(--font-bellefair);
}

h4 {
  @apply text-[1rem] md:text-[2rem];
  text-transform: uppercase;
  color: var(--accent);
  font-family: var(--font-bellefair);
}

h5 {
  @apply text-base md:text-[1.75rem];
  text-transform: uppercase;
  color: var(--secondary);
  line-height: 4.75;
}

p {
  font-size: 1.125rem;
}

body {
  background: var(--primary);
  color: var(--accent);
  font-family: var(--font-barlow);
}

